.env
.venv
env/
venv/
.idea/
scripts/

__pycache__/
*.py[cod]
*$py.class

config.json
config.*.json
credentials.json
stalkmarket.json
testing code/
web_stuff_to_getto/
src/cy_src/build
fastStonks.c
fastStonks.html
fastStonks.cp37*
